[tools]
typos = "1"
gitleaks = "8"
python = "3.11"
"pipx:pre-commit-hooks" = "6"
"pipx:commitizen" = "4"
yamllint = "1"
actionlint = "1"
stylua = "2"
"ubi:huacnlee/autocorrect" = "2"
tombi = "0.6"
prettier = "3.6"
markdownlint-cli2 = "0.18"

[tools."ubi:editorconfig-checker/editorconfig-checker"]
version = "3"
matching = "editorconfig-checker"

[tools.'ubi:evilmartians/lefthook']
version = "1.13"
rename_exe = 'lefthook{% if os_family() == "windows" %}.exe{% endif %}'

[tools."ubi:luarocks/luarocks"]
version = "3.12"
os = ["windows"]

[tools."http:lua"]
version = "5.1.5"
os = ["windows"]
# https://github.com/ScoopInstaller/Versions/blob/master/bucket/lua51.json
platforms.windows-x64.url = "https://downloads.sourceforge.net/project/luabinaries/5.1.5/Tools%20Executables/lua-5.1.5_Win64_bin.zip"
